{% extends 'base.html.twig' %}

{% block title %}New Elektra{% endblock %}

{% block body %}
    <h1>Create new Elektra</h1>

    {{ include('elektra/_form.html.twig') }}

    <a href="{{ path('elektra_index') }}">back to list</a>
{% endblock %}