{% extends 'base.html.twig' %}

{% block title %}New SaltasVanduo{% endblock %}

{% block body %}
    <h1>Create new SaltasVanduo</h1>

    {{ include('saltas_vanduo/_form.html.twig') }}

    <a href="{{ path('saltas_vanduo_index') }}">back to list</a>
{% endblock %}