{% extends 'sistema.html.twig' %}

{% block title %}Edit Vanduo{% endblock %}

{% block body %}
    <h1>Edit Vanduo</h1>

    {{ include('vanduo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vanduo_index') }}">back to list</a>

    {{ include('vanduo/_delete_form.html.twig') }}
{% endblock %}